.da-thumbs {
	list-style: none;
	/* width: 984px; */
	/* height: 600px; */
	/* position: relative; */
	text-align: center;
	padding: 25px 20px 0px 20px;
}
.da-thumbs li {
	/* float: left; */
	margin: 5px;
	/* background: #fff; */
	padding: 5px;
	position: relative;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.1); */
	text-align: center;
	border: 1px solid rgb(0, 87, 156);
}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
	width: 100%;
	height: 225px;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255, 255, 255, 1);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 5px solid rgba(91, 142, 40, 1);
	box-shadow: 0 1px 0 rgba(247, 98, 33, 0.1), 0 -10px 0 rgba(230, 120, 23, 1);
	font-family: neuton;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
}
